
// Fonts
@import url('https://fonts.googleapis.com/css?family=Eczar');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: rgba(#fff, 1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#app {
  background: url("../../../public/cascade-background.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}

.navbar-brand {
  font-size: 22pt;
}

.card-header {
  font-size: 16pt;
  background-color: rgba(176, 127, 92, 0.5);
  font-color: white
}

.card-body {
    background-color: rgba(#daa2a7, 0.1);
}
